<html>

<body>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <div class="container">
        <div id="app" v-cloak>
            <span v-bind:title="loaddate">
                {{ message }}
            </span>
            <h4>Строк в таблице {{listlenght}}</h4>
            <button class="btn btn-lg btn-bd-primary margin-bottom-10"
                v-on:click="outputdatamodechange()">{{outputdatamode}}</button>

            <section>
                <table class="table table-bordered table-striped" v-if="showdata">
                    <tr v-for="chel in list">
                        <td>{{ chel.lastname }}</td>
                        <td>{{ chel.name }}</td>
                        <td>{{ chel.middlename }}</td>
                        <td><img v-bind:src="chel.ava" style="max-height: 65px;" alt="Нет фото"></img></td>
                        <!-- <td><img v-bind:src="getavapath(chel.ava)" style="max-height: 65px;"></img></td> -->
                        <!-- <td><img v-bind:src="chel.ava.length > 0 ? chel.ava : https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn_1d9LnGP5Z2-B9AtrZanCR25Fu8bWicuek1C2Z4SvX3FrDtB" style="max-height: 65px;"></img></td> -->
                    </tr>
                </table>
            </section>

            <hr>

            <users-list v-bind:xlist="list"></users-list>
        </div>
    </div>

    <template id="tableUser">
        <section>
            <table class="table">
                <!--v-if="showdata"-->
                <tr v-for="chel in xlist">
                    <td>{{ chel.lastname }}</td>
                    <td>{{ chel.name }}</td>
                    <td>{{ chel.middlename }}</td>
                    <td><img v-bind:src="chel.ava" style="max-height: 65px;" alt="Нет фото"></img></td>
                    <!-- <td>
                            <img v-if="chel.ava!=null" v-bind:src="chel.ava" style="max-height: 65px;"
                                alt="Нет фото"></img>
                            <img v-else
                                v-bind:src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn_1d9LnGP5Z2-B9AtrZanCR25Fu8bWicuek1C2Z4SvX3FrDtB"
                                style="max-height: 65px;" alt="Нет фото"></img>
                        </td> -->
                    <!-- <td><img v-bind:src="getavapath(chel.ava)" style="max-height: 65px;"></img></td> -->
                    <!-- <td><img v-bind:src="chel.ava.length > 0 ? chel.ava : https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn_1d9LnGP5Z2-B9AtrZanCR25Fu8bWicuek1C2Z4SvX3FrDtB" style="max-height: 65px;"></img></td> -->
                </tr>
            </table>
        </section>
    </template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!-- <script src="code.js"></script> -->
    <script>
        window.vm = new Vue({
            el: '#app',
            components: {
                'users-list': {
                    template: '#tableUser',
                    props: {
                        xlist: {
                            type: Array,
                            require: true //должна быть всегда
                        }
                    }
                }
            },
            data: {
                message: 'Привет, Vue!',
                loaddate: 'Вы загрузили эту страницу: ' + new Date().toLocaleString(),
                showdata: true,
                list: []
            },
            watch: {
                showdata: {
                    handler: 'userHandler'
                }
            },
            created: function () {
                console.log('Запрос данных: ' + new Date().toLocaleString());
                this.getusers()
            },
            computed: {
                outputdatamode: function () {
                    return this.showdata ? 'Скрыть' : 'Показать'
                },
                listlenght: function () {
                    return this.list.length
                }
            },
            methods: {
                outputdatamodechange: function () {
                    this.showdata = !this.showdata;
                },
                getavapath: function (path) {
                    var qty = path.ToString().length;
                    if (qty > 0) {
                        return path;
                    }
                    else {
                        return "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn_1d9LnGP5Z2-B9AtrZanCR25Fu8bWicuek1C2Z4SvX3FrDtB";
                    }
                },
                getusers: function () {
                    // let json = require('users.json');          
                    // this.list=JSON.parse(json); 
                    this.list = [
                        { "lastname": "Ivanov", "name": "Ivan", "middlename": "Ivanovich", "ava": "https://avatars.mds.yandex.net/get-pdb/216365/eb43844b-51d6-41a0-86c0-0f3c47da5b48/s375" },
                        { "lastname": "Petrov", "name": "Petr", "middlename": "Petrovich", "ava": "https://zabavnik.club/wp-content/uploads/Milye_kartinki_dlya_ld_1_06122128.jpg" },
                        { "lastname": "Sidorov", "name": "Sidor", "middlename": "Sidorovich" },
                        { "lastname": "Antonov", "name": "Anton", "middlename": "Antonovich", "ava": "https://s00.yaplakal.com/pics/pics_original/4/6/4/10101464.jpg" },
                        { "lastname": "Stepanov", "name": "Stepan", "middlename": "Stepanovich", "ava": "https://i.ytimg.com/vi/6oCEhIDxiOE/hqdefault.jpg" }
                    ];
                    console.log('Список пользователей загружен: ' + new Date().toLocaleString());
                },
                userHandler: function () {
                    console.log('Список пользователей загружен: ' + new Date().toLocaleString());
                }
            }
        })
    </script>
</body>

</html>